autopep8==1.3.5
Django==2.0.4
ipython==6.3.1
ipython-genutils==0.2.0
jedi==0.11.1
joblib==0.11
Markdown==2.6.11
numpy==1.14.2
opencv-python==3.4.0.12
pandas==0.22.0
PyMySQL==0.7.2
requests==2.9.1
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
sklearn==0.0
sqlparse==0.1.18
tensorboard==1.7.0
tensorflow==1.7.0
urllib3==1.13.1
virtualenv==15.2.0
mlxtend==0.12.0
lightgbm==2.1.0
